<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
     <strong>Hello, </strong> <span th:text="${username}"></span>.
    </p>
    <p>
        Thanks for registering, to start playing you have to click in the link below to activate your account.
    </p>
   <p>
      Click <a th:href="${confirmationLink}">here</a> to activate your account.
    </p>
    <p>
      Best Regards, <br />
      <em>Cryptocheckers.io</em>
    </p>
  </body>
</html>